.container {
  position: absolute;
  z-index: var(--index-1);
  height: 100%;
  width: 100%;
}

.space {
  margin: 10px;
  position: absolute;
  z-index: var(--index-2);
}

.periodicSpace {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: var(--index-2);
  display: flex;
  justify-content: center;
  align-items: center;
}