.container {
  position: absolute;
  z-index: var(--index-1);
  height: 100%;
  width: 100%;
}

.sortSpace {
  margin: 10px;
  position: absolute;
  left: 0; right: 0;
  z-index: var(--index-2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.periodicSpace {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: var(--index-2);
  display: flex;
  justify-content: center;
  align-items: center;
}